.Forum__vw {
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Forum__vw__vw {
  display: flex;
  flex-direction: row;
}
.Forum__vw__vw__vw {
  width: 100px;
}
.Forum__vw__vw__vw1 {
}
.Forum__vw__vw__vw1__vw {
  margin-top: 10px;
}
.Forum__vw__vw__vw1__vw__tx {
  font-size: 28px;
  color: #333;
}
.Forum__vw__vw__vw1__vw1 {
  margin-top: 10px;
}
.Forum__vw__vw__vw1__vw1__tx {
  font-size: 28px;
  color: #b5b5b5;
}
.Forum__vw__vw__vw1__vw2 {
  margin-top: 20px;
}
.Forum__vw__vw__vw1__vw2__tx {
  font-size: 28px;
  color: #333;
  line-height: 36px;
}
.Forum__vw__vw__vw1__vw3 {
  margin-top: 20px;
}
.Forum__vw__vw__vw1__vw3__vw {
  display: flex;
  flex-direction: row;
}
.Forum__vw__vw__vw1__vw3__vw__vw {
  display: flex;
  flex-direction: row;
  width: 160px;
  align-items: center;
}
.Forum__vw__vw__vw1__vw3__vw__vw__AtIcon {
  padding-right: 20px;
}
.Forum__vw__vw__vw1__vw3__vw__vw__tx1 {
  font-size: 28px;
  color: #cccccc;
}
.Forum__vw__vw__vw1__vw3__vw__vw1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
}
.Forum__vw__vw__vw1__vw3__vw__vw1__AtIcon {
  padding-right: 20px;
}
.Forum__vw__vw__vw1__vw3__vw__vw1__AtIcon1 {
  padding-right: 20px;
}
.Forum__vw__vw__vw1__vw3__vw__vw1__tx2 {
  font-size: 28px;
  color: #cccccc;
}
.Forum__vw_1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #ebebeb;
  margin-top: 20px;
  border-radius: 10px;
}
.Forum__vw_1__vw {
  display: flex;
  flex-direction: row;
}
.Forum__vw_1__vw__vw {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Forum__vw_1__vw__vw__AtIcon {
  padding-right: 20px;
}
.Forum__vw_1__vw__vw1 {
}
.Forum__vw_1__vw__vw1__tx {
  font-size: 28px;
  color: #333;
}
.Forum__vw_2 {
  display: flex;
  flex-direction: row;
}
.Forum__vw_2__vw {
  width: 100px;
}
