.Test__test {
  display: flex;
  flex-direction: column;
}
.Test__test__tx {
  font-size: 28px;
  color: #333;
}
.Test__tx {
  font-size: 28px;
  color: #333;
}
.Test__test__tx3 {
  font-size: 28px;
  color: #333;
}
