.WechatComponentOneClickLogin__vw {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  flex: 1;
  padding: 20px;
}
.WechatComponentOneClickLogin__vw__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.WechatComponentOneClickLogin__vw__vw__Image {
  width: 120px;
  height: 120px;
}
.WechatComponentOneClickLogin__vw__vw__tx1 {
  font-size: 36px;
  color: #333;
  margin-left: 40px;
}
.WechatComponentOneClickLogin__vw__vw1 {
  margin-top: 20px;
}
.WechatComponentOneClickLogin__vw__vw1__tx {
  font-size: 28px;
  color: #8c8c8c;
}
.WechatComponentOneClickLogin__vw__vw2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.WechatComponentOneClickLogin__vw__vw2__vw {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.WechatComponentOneClickLogin__vw__vw2__vw__tx {
  font-size: 28px;
  color: #d0021b;
}
.WechatComponentOneClickLogin__vw__vw2__vw__tx1 {
  font-size: 28px;
  color: #333;
}
.WechatComponentOneClickLogin__vw__vw2__vw1 {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}
.WechatComponentOneClickLogin__AtButton {
  background-color: rgba(220, 94, 112, 0);
  border-radius: 0px;
  border-width: 0px;
  height: 104px;
  width: 104px;
}
.WechatComponentOneClickLogin__vw_1 {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #dadada;
  border-width: 2px;
  border-style: solid;
}
.WechatComponentOneClickLogin__vw_1__tx1 {
  font-size: 16px;
  color: #bebebe;
  margin-top: 8px;
}
.WechatComponentOneClickLogin__vw__vw4 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 20px;
}
.WechatComponentOneClickLogin__vw__vw4__vw {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.WechatComponentOneClickLogin__vw__vw4__vw__tx {
  font-size: 28px;
  color: #d0021b;
}
.WechatComponentOneClickLogin__vw__vw4__vw__tx1 {
  font-size: 28px;
  color: #333;
}
.WechatComponentOneClickLogin__vw__vw4__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.WechatComponentOneClickLogin__vw__AtButton6 {
  margin-top: 40px;
  width: 100%;
  background-color: #dc5e70;
  border-radius: 40px;
  border-width: 0px;
}
.WechatComponentOneClickLogin__vw__vw7 {
  margin-top: 40px;
}
.WechatComponentOneClickLogin__vw__vw7__tx {
  font-size: 28px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.WechatComponentOneClickLogin__AtButton1 {
  background-color: rgba(220, 94, 112, 0);
  border-radius: 0px;
  border-width: 0px;
  width: 200px;
  height: 120px;
}
.WechatComponentOneClickLogin__Image {
  width: 110px;
  height: 110px;
}
