.Study__vw1 {
  display: flex;
  flex-direction: row;
}
.Study__vw1__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
}
.Study__tx {
  font-size: 28px;
  color: #000000;
  transition: all 0.3s;
}
.Study__vw1__vw__vw1 {
  width: 84px;
  height: 4px;
  margin-top: 10px;
}
.Study__vw1__vw__vw2 {
  margin-top: 40px;
}
.Study__vw2 {
  display: flex;
  flex-direction: column;
}
.Study__vw3 {
  display: flex;
  flex-direction: column;
}
.Study__vw3__AutoList {
  background-color: #ffffff;
}
.Study__my_class {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.Study__vw {
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: rgba(20, 75, 102, 0.25) 0px 10px 50px 0px;
  margin-bottom: 10px;
}
.Study__vw5 {
  background-color: #e6e6e6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
