.FullCourse__HeaderBar {
  color: #000000;
}
.FullCourse__vw1 {
  height: 100%;
  background-color: #e7e7e7;
  padding-top: 30px;
}
.FullCourse__vw1__vw {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.FullCourse__vw1__vw__vw {
  width: 25%;
}
.FullCourse__vw1__vw__vw1 {
}
