.Mine__mine {
  display: flex;
  flex-direction: column;
}
.Mine__mine__sv {
  background-image: url(https://file.mengti.cc/FiLftfp_5O48Dd2MZyQ3jUW9Cs_a);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
}
.Mine__mine__sv__vw {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Mine__mine__sv__vw__vw {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 60px;
}
.Mine__mine__sv__vw__vw__vw {
  width: 160px;
}
.Mine__mine__sv__vw__vw__vw1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
}
.Mine__mine__sv__vw__vw__vw1__vw {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}
.Mine__mine__sv__vw__vw__vw1__vw__tx {
  font-size: 36px;
  color: #000000;
  font-weight: 400;
}
.Mine__mine__sv__vw__vw__vw1__vw__vw1 {
  border-radius: 20px;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  border-color: #43cf7c;
  cursor: pointer;
}
.Mine__mine__sv__vw__vw__vw1__vw__vw1__tx1 {
  font-size: 24px;
  color: #43cf7c;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  line-height: 28px;
}
.Mine__mine__sv__vw__vw__vw1__tx1 {
  font-size: 28px;
  color: #333;
}
.Mine__mine__sv__vw__vw1 {
  background-color: #fff;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  opacity: 0.9;
  box-shadow: rgba(144, 191, 67, 0.35) 0px 10px 30px 0px;
}
.Mine__mine__sv__vw__vw1__vw {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Mine__mine__sv__vw__vw1__vw__vw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  border-right-color: #b8b8b8;
  border-right-width: 2px;
  border-right-style: solid;
}
.Mine__mine__sv__vw__vw1__vw__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw__vw1__vw__vw__vw__tx {
  font-size: 40px;
  color: #43cf7c;
  font-weight: 400;
}
.Mine__mine__sv__vw__vw1__vw__vw__tx1 {
  font-size: 24px;
  color: #333;
}
.Mine__mine__sv__vw__vw1__vw__vw1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}
.Mine__mine__sv__vw__vw1__vw__vw1__vw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw__vw1__vw__vw1__vw__tx {
  font-size: 40px;
  color: #43cf7c;
  font-weight: 400;
}
.Mine__mine__sv__vw__vw1__vw__vw1__tx1 {
  font-size: 24px;
  color: #333;
}
.Mine__mine__sv__vw__vw1__vw__vw2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #b8b8b8;
}
.Mine__mine__sv__vw__vw1__vw__vw2__vw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw__vw1__vw__vw2__vw__tx {
  font-size: 40px;
  color: #43cf7c;
  font-weight: 400;
}
.Mine__mine__sv__vw__vw1__vw__vw2__tx1 {
  font-size: 24px;
  color: #333;
}
.Mine__mine__sv__vw__vw2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.Mine__mine__sv__vw1 {
  padding-left: 24px;
  padding-right: 24px;
}
.Mine__mine__sv__vw2 {
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0.244526px 0.733578px 0 rgba(144, 191, 67, 0.008);
  margin-top: 32px;
}
.Mine__mine__sv__vw2__vw {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw__vw__vw__tx1 {
  font-size: 28px;
  color: #9b9b9b;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw__vw__vw1 {
  width: 60px;
}
.Mine__mine__sv__vw2__vw1 {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw1__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw1__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw1__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw1__vw__vw__tx1 {
  font-size: 28px;
  color: #9b9b9b;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw1__vw__vw1 {
  width: 60px;
}
.Mine__mine__sv__vw2__vw2 {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw2__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw2__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw2__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw2__vw__vw__tx1 {
  font-size: 28px;
  color: #9b9b9b;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw2__vw__vw1 {
  width: 60px;
}
.Mine__mine__sv__vw2__vw3 {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw3__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw3__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw3__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw3__vw__vw__tx1 {
  font-size: 28px;
  color: #9b9b9b;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw3__vw__vw1 {
  width: 60px;
}
.Mine__mine__sv__vw2__vw4 {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw4__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw4__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw4__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw4__vw__vw__tx1 {
  font-size: 28px;
  color: #9b9b9b;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw4__vw__vw1 {
  width: 60px;
}
.Mine__mine__sv__vw2__vw5 {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw5__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw5__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw5__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw5__vw__vw__tx1 {
  font-size: 28px;
  color: #333;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw5__vw__vw1 {
  width: 60px;
}
.Mine__mine__sv__vw2__vw6 {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw6__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw6__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw6__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw6__vw__vw__tx1 {
  font-size: 28px;
  color: #9b9b9b;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw6__vw__vw1 {
  width: 60px;
}
.Mine__mine__sv__vw2__vw7 {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Mine__mine__sv__vw2__vw7__vw {
  display: flex;
  flex-direction: row;
}
.Mine__mine__sv__vw2__vw7__vw__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Mine__mine__sv__vw2__vw7__vw__vw__AtIcon {
  margin-right: 20px;
}
.Mine__mine__sv__vw2__vw7__vw__vw__tx1 {
  font-size: 28px;
  color: #333;
  font-weight: 500;
}
.Mine__mine__sv__vw2__vw7__vw__vw1 {
  width: 60px;
}
