.VideoColumnFormComponent__AutoList {
  background-color: #d0d0d0;
}
.VideoColumnFormComponent__vw {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.VideoColumnFormComponent__vw__vw {
  display: flex;
  flex-direction: column;
}
.VideoColumnFormComponent__vw__vw__tx {
  font-size: 28px;
  color: #333;
  font-weight: 500;
}
.VideoColumnFormComponent__vw__vw__tx1 {
  font-size: 24px;
  color: #898989;
  margin-top: 10px;
}
.VideoColumnFormComponent__vw__vw__vw2 {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
}
.VideoColumnFormComponent__vw__vw__vw2__tx {
  font-size: 24px;
  color: #a3a3a3;
}
.VideoColumnFormComponent__vw__vw__vw2__tx1 {
  font-size: 24px;
  color: #a3a3a3;
}
.VideoColumnFormComponent__vw__vw__vw2__tx2 {
  font-size: 24px;
  color: #a3a3a3;
}
.VideoColumnFormComponent__vw__vw__vw2__tx3 {
  font-size: 24px;
  color: #a3a3a3;
}
.VideoColumnFormComponent__vw__vw1 {
  width: 100px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
