.personalSettings__personal_settings {
  background-color: #ebeced;
}
.personalSettings__vw {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: #ffffff;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.personalSettings__vw__vw {
  width: 160px;
}
.personalSettings__vw__vw1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
}
.personalSettings__vw__vw1__vw {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}
.personalSettings__vw__vw1__vw__tx {
  font-size: 36px;
  color: #000000;
  font-weight: 400;
}
.personalSettings__vw__vw1__vw1 {
  border-radius: 0px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.personalSettings__vw__vw1__vw1__tx {
  font-size: 28px;
  color: #000000;
  opacity: 0.45;
}
.personalSettings__vw1 {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
.personalSettings__vw1__vw {
  background-color: #fff;
}
.personalSettings__vw1__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
.personalSettings__vw1__vw__vw__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
}
.personalSettings__vw1__vw__vw__vw__tx {
  font-size: 28px;
  color: #333;
}
.personalSettings__vw1__vw__vw__vw1 {
}
.personalSettings__vw2 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}
.personalSettings__vw2__vw {
  background-color: #fff;
}
.personalSettings__vw2__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
.personalSettings__vw2__vw__vw__vw {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.personalSettings__vw2__vw__vw__vw__tx {
  font-size: 28px;
  color: #333;
}
.personalSettings__vw2__vw__vw__vw1 {
}
.personalSettings__vw3 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}
.personalSettings__vw3__vw {
  background-color: #fff;
}
.personalSettings__vw3__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
.personalSettings__vw3__vw__vw__vw {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.personalSettings__vw3__vw__vw__vw__tx {
  font-size: 28px;
  color: #333;
}
.personalSettings__vw3__vw__vw__vw1 {
}
.personalSettings__vw4 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}
.personalSettings__vw4__vw {
  background-color: #fff;
  height: 120px;
}
.personalSettings__vw4__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
.personalSettings__vw4__vw__vw__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
}
.personalSettings__vw4__vw__vw__vw__tx {
  font-size: 28px;
  color: #333;
}
.personalSettings__vw4__vw__vw__vw1 {
}
.personalSettings__vw4__vw__vw__vw1__Textarea {
  font-size: 28px;
}
.personalSettings__vw5 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}
.personalSettings__vw6 {
  padding-left: 20px;
  padding-right: 20px;
}
.personalSettings__vw6__vw {
  height: 120px;
}
.personalSettings__vw6__vw__AtButton {
  margin-top: 20px;
}
