.MyJumpShow__vw {
  padding-left: 30px;
  padding-right: 30px;
}
.MyJumpShow__vw__vw {
  background-color: #fff;
}
.MyJumpShow__vw__vw__vw {
  margin-bottom: 20px;
}
.MyJumpShow__vw__vw__vw__tx {
  font-size: 32px;
  color: #333;
  font-weight: 600;
}
.MyJumpShow__vw__vw__vw1 {
  padding-left: 30px;
  padding-right: 30px;
}
.MyJumpShow__vw__vw__vw1__vw {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.MyJumpShow__vw__vw__vw1__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw__tx1 {
  font-size: 28px;
  color: #333;
}
.MyJumpShow__vw__vw__vw1__vw__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw1__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw1__tx1 {
  font-size: 28px;
  color: #333;
}
.MyJumpShow__vw__vw__vw1__vw__vw2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw2__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw2__tx1 {
  font-size: 28px;
  color: #333;
}
.MyJumpShow__vw__vw__vw1__vw__vw3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw3__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw3__tx1 {
  font-size: 28px;
  color: #333;
}
.MyJumpShow__vw__vw__vw1__vw__vw4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw4__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw4__tx1 {
  font-size: 28px;
  color: #333;
}
.MyJumpShow__vw__vw__vw1__vw__vw5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw5__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw5__tx1 {
  font-size: 28px;
  color: #333;
}
.MyJumpShow__vw__vw__vw1__vw__vw6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw6__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw6__tx1 {
  font-size: 28px;
  color: #333;
}
.MyJumpShow__vw__vw__vw1__vw__vw7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 25%;
}
.MyJumpShow__vw__vw__vw1__vw__vw7__AtIcon {
  margin-bottom: 10px;
}
.MyJumpShow__vw__vw__vw1__vw__vw7__tx1 {
  font-size: 28px;
  color: #333;
}
