.home_page {
  display: flex;
  flex-direction: column;
  background-color: #f3f4ff;
}
.home_page__TabView {
  background-image: url(https://file.mengti.cc/FiLftfp_5O48Dd2MZyQ3jUW9Cs_a);
  background-size: cover;
  background-position: center center;
}
