.AllCoursesTab__vw {
  background-color: #e7e7e7;
  height: 100%;
}
.AllCoursesTab__tx {
  font-size: 28px;
  color: #333;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
