.learningSituation__vw1 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.learningSituation__vw1__vw {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
}
.learningSituation__vw1__vw__tx {
  font-size: 36px;
  color: #333;
  font-weight: 600;
}
.learningSituation__vw1__vw__vw1 {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw__vw1__tx {
  font-size: 28px;
  color: #333;
  margin-right: 10px;
}
.learningSituation__vw1__vw1 {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #ffe9c8;
}
.learningSituation__vw1__vw1__tx {
  font-size: 28px;
  color: #333;
}
.learningSituation__vw1__vw1__vw1 {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw1__vw1__tx {
  font-size: 28px;
  color: #333;
  margin-right: 10px;
}
.learningSituation__vw1__vw2 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.learningSituation__vw1__vw2__tx {
  font-size: 36px;
  color: #00baad;
  font-weight: 600;
}
.learningSituation__vw1__vw2__tx1 {
  font-size: 28px;
  color: #00baad;
  font-weight: 600;
}
.learningSituation__vw1__vw3 {
  margin-top: 20px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.learningSituation__vw1__vw3__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw3__vw__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw3__vw__vw__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw3__vw__vw__vw__vw {
  width: 200px;
}
.learningSituation__vw1__vw3__vw__vw__vw__vw__tx {
  font-size: 28px;
  color: #989898;
}
.learningSituation__vw1__vw3__vw__vw__vw__vw1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learningSituation__vw1__vw3__vw__vw__vw__vw1__tx {
  font-size: 28px;
  color: #989898;
}
.learningSituation__vw1__vw3__vw__vw__vw__vw2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learningSituation__vw1__vw3__vw__vw__vw__vw2__tx {
  font-size: 28px;
  color: #989898;
}
.learningSituation__vw1__vw3__vw__vw1 {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw3__vw__vw1__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw3__vw__vw1__vw__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw1__vw3__vw__vw1__vw__vw__vw {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.learningSituation__vw1__vw3__vw__vw1__vw__vw__vw__tx {
  font-size: 28px;
  color: #989898;
}
.learningSituation__tx {
  font-size: 28px;
  color: #989898;
}
.learningSituation__vw1__vw3__vw1 {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.learningSituation__vw__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw__vw__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw__vw__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learningSituation__vw__vw__vw__vw__tx {
  font-size: 28px;
  color: #333;
  width: 200px;
}
.learningSituation__vw__vw__vw__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learningSituation__vw__vw__vw__vw2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learningSituation__vw__vw1 {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw__vw1__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw__vw1__vw__vw {
  display: flex;
  flex-direction: row;
}
.learningSituation__vw__vw1__vw__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.learningSituation__vw__vw1__vw__vw__vw__tx {
  font-size: 28px;
  color: #333;
}
.learningSituation__vw__vw1__vw__vw__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.learningSituation__vw__vw1__vw__vw__vw1__tx {
  font-size: 28px;
  color: #00baad;
  margin-left: 40px;
}
.learningSituation__vw_1 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 600px;
}
.learningSituation__vw_1__vw {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learningSituation__vw_1__vw__tx {
  font-size: 36px;
  color: #333;
  font-weight: 600;
  margin-bottom: 40px;
}
.learningSituation__vw_1__AtCalendar1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
