.videoHome__video_home {
  display: flex;
  flex-direction: column;
}
.videoHome__video_home__HeaderBar {
  color: #000000;
  font-weight: 100;
}
.videoHome__video_home__vw1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 99999;
}
.videoHome__video_home__vw1__AtButton {
  background-color: #ae3643;
  border-width: 0px;
}
.videoHome__video_home__vw2 {
  padding-left: 20px;
  padding-right: 20px;
}
.videoHome__video_home__vw2__Image {
  width: 100%;
  height: 300px;
}
.videoHome__video_home__vw3 {
  padding: 20px;
}
.videoHome__video_home__vw3__vw {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.videoHome__video_home__vw3__vw__vw {
  flex: 2;
  display: flex;
  flex-direction: row;
}
.videoHome__video_home__vw3__vw__vw__vw {
  width: 10px;
  background-color: #9013fe;
  height: 30px;
}
.videoHome__video_home__vw3__vw__vw__tx1 {
  font-size: 36px;
  color: #333;
  padding-left: 6px;
}
.videoHome__video_home__vw3__vw__vw1 {
  display: flex;
  flex-direction: row-reverse;
}
.videoHome__video_home__vw3__vw__vw1__tx {
  font-size: 36px;
  color: #6e000c;
}
.videoHome__tx {
  font-size: 28px;
  color: #adadad;
}
.videoHome__vw1 {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin-top: 20px;
}
.videoHome__vw1__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
}
.videoHome__tx_1 {
  font-size: 28px;
  color: #000000;
}
.videoHome__vw1__vw__vw1 {
  margin-top: 40px;
}
.videoHome__vw1__vw__vw1__vw {
  width: 84px;
  height: 4px;
}
