.InteractiveCommunication__vw {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw__vw {
}
.InteractiveCommunication__vw__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw1__vw {
}
.InteractiveCommunication__vw1__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw1__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw1__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw2__vw {
}
.InteractiveCommunication__vw2__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw2__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw2__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw3 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw3__vw {
}
.InteractiveCommunication__vw3__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw3__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw3__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw4 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw4__vw {
}
.InteractiveCommunication__vw4__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw4__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw4__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw5 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw5__vw {
}
.InteractiveCommunication__vw5__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw5__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw5__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw6 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw6__vw {
}
.InteractiveCommunication__vw6__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw6__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw6__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw7 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw7__vw {
}
.InteractiveCommunication__vw7__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw7__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw7__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw8 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw8__vw {
}
.InteractiveCommunication__vw8__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw8__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw8__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw9 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw9__vw {
}
.InteractiveCommunication__vw9__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw9__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw9__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw10 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw10__vw {
}
.InteractiveCommunication__vw10__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw10__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw10__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw11 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw11__vw {
}
.InteractiveCommunication__vw11__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw11__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw11__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw12 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw12__vw {
}
.InteractiveCommunication__vw12__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw12__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw12__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw13 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw13__vw {
}
.InteractiveCommunication__vw13__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw13__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw13__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw14 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw14__vw {
}
.InteractiveCommunication__vw14__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw14__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw14__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw15 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw15__vw {
}
.InteractiveCommunication__vw15__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw15__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw15__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw16 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw16__vw {
}
.InteractiveCommunication__vw16__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw16__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw16__vw1__tx {
  font-size: 28px;
  color: #333;
}
.InteractiveCommunication__vw17 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.InteractiveCommunication__vw17__vw {
}
.InteractiveCommunication__vw17__vw__tx {
  font-size: 28px;
  color: #9b9b9b;
}
.InteractiveCommunication__vw17__vw1 {
  flex: 6;
}
.InteractiveCommunication__vw17__vw1__tx {
  font-size: 28px;
  color: #333;
}
