.logIn__vw {
  display: flex;
  flex-direction: column;
  background-color: #fdd300;
}
.logIn__vw__sv {
  display: flex;
  flex-direction: column;
}
.logIn__vw__sv__vw {
  display: flex;
  flex-direction: column;
  background-image: url(https://file.mengti.cc/FiLftfp_5O48Dd2MZyQ3jUW9Cs_a);
  background-size: cover;
  background-position: center center;
}
.logIn__vw__sv__vw__vw {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://file.mengti.cc/FiLftfp_5O48Dd2MZyQ3jUW9Cs_a);
  background-size: cover;
  background-position: center center;
}
.logIn__vw__sv__vw__vw__vw {
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
.logIn__vw__sv__vw__vw__vw__Image {
  width: 148px;
  height: 178px;
}
.logIn__vw__sv__vw__vw__vw1 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logIn__vw__sv__vw__vw__vw1__tx {
  font-size: 28px;
  color: #333;
}
.logIn__vw__sv__vw__vw1 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-top-left-radius: 68px;
  border-top-right-radius: 68px;
  padding-top: 72px;
}
.logIn__vw__sv__vw__vw1__vw {
  padding-left: 48px;
  padding-right: 48px;
}
.logIn__vw__sv__vw__vw1__vw__vw {
  background-color: #f6f5fc;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logIn__vw__sv__vw__vw1__vw__vw__vw1 {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.logIn__vw__sv__vw__vw1__vw1 {
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 40px;
}
.logIn__vw__sv__vw__vw1__vw1__vw {
  background-color: #f6f5fc;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logIn__AtIcon {
  width: 26px;
  height: 32px;
}
.logIn__vw__sv__vw__vw1__vw1__vw__vw1 {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.logIn__vw__sv__vw__vw1__vw2 {
  margin-top: 56px;
  padding-left: 48px;
  padding-right: 48px;
  margin-bottom: 44px;
}
.logIn__ibg {
  height: 110px;
  width: 100%;
  background-color: #a7e8bf;
  border-radius: 20px;
}
.logIn__ibg__vw {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.logIn__ibg__vw__tx {
  font-size: 36px;
  color: #333;
}
.logIn__vw_1 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logIn__vw_1__tx {
  font-size: 28px;
  color: #fdc100;
}
.logIn__vw__sv__vw__vw1__vw4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}
.logIn__vw__sv__vw__vw1__vw4__vw {
  width: 140px;
  height: 2px;
  background-color: #acacac;
}
.logIn__vw__sv__vw__vw1__vw4__vw1 {
  margin-left: 20px;
  margin-right: 20px;
}
.logIn__vw__sv__vw__vw1__vw4__vw1__tx {
  font-size: 28px;
  color: #acacac;
}
.logIn__vw__sv__vw__vw1__vw4__vw2 {
  width: 140px;
  height: 2px;
  background-color: #acacac;
}
.logIn__vw__sv__vw__vw1__vw5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.logIn__vw__sv__vw__vw1__vw6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logIn__vw__sv__vw__vw1__vw6__vw {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logIn__vw__sv__vw__vw1__vw6__vw__tx {
  font-size: 28px;
  color: #acacac;
}
.logIn__vw__sv__vw__vw1__vw6__vw1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logIn__vw__sv__vw__vw1__vw6__vw1__tx {
  font-size: 28px;
  color: #fdc100;
}
.logIn__vw_2 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  flex: 1;
  padding: 20px;
}
.logIn__vw_2__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logIn__vw_2__vw__Image {
  width: 120px;
  height: 120px;
}
.logIn__vw_2__vw__tx1 {
  font-size: 36px;
  color: #333;
  margin-left: 40px;
}
.logIn__vw_2__vw1 {
  margin-top: 20px;
}
.logIn__vw_2__vw1__tx {
  font-size: 28px;
  color: #8c8c8c;
}
.logIn__vw_2__vw2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.logIn__vw_2__vw2__vw {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logIn__vw_2__vw2__vw__tx {
  font-size: 28px;
  color: #d0021b;
}
.logIn__vw_2__vw2__vw__tx1 {
  font-size: 28px;
  color: #333;
}
.logIn__vw_2__vw2__vw1 {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}
.logIn__AtButton {
  background-color: rgba(220, 94, 112, 0);
  border-radius: 0px;
  border-width: 0px;
  height: 104px;
  width: 104px;
}
.logIn__vw_3 {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #dadada;
  border-width: 2px;
  border-style: solid;
}
.logIn__vw_3__tx1 {
  font-size: 16px;
  color: #bebebe;
  margin-top: 8px;
}
.logIn__vw_2__vw4 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 20px;
}
.logIn__vw_2__vw4__vw {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logIn__vw_2__vw4__vw__tx {
  font-size: 28px;
  color: #d0021b;
}
.logIn__vw_2__vw4__vw__tx1 {
  font-size: 28px;
  color: #333;
}
.logIn__vw_2__vw4__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logIn__vw_2__AtButton6 {
  margin-top: 40px;
  width: 100%;
  background-color: #dc5e70;
  border-radius: 40px;
  border-width: 0px;
}
.logIn__vw_2__vw7 {
  margin-top: 40px;
}
.logIn__vw_2__vw7__tx {
  font-size: 28px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
